<!DOCTYPE html>
<html lang="en">

<head>
  <title>The Scraper</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */

    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

.jumbotron {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0;
  font-family: "Cormorant SC";
  box-shadow: 10px 5px 20px 2px lightslategrey;
}

.jumbotron .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: auto;
  background: linear-gradient(#333, black);
  opacity: 0.7;
}

.jumbotron .background-image {
  height: 100%;
  background-image: url("http://mediad.publicbroadcasting.net/p/klcc/files/styles/large/public/201503/NPR2.jpg");
  background-size: cover;
}

.jumbotron .caption {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

.jumbotron .caption h1,
.jumbotron .caption p {
  color: white;
}

.jumbotron h1 {
  font-size: 80px;
  font-weight: 800;
}

.jumbotron p {
  font-size: 30px;
}




  </style>
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Mongo Scraper</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/saved">Saved Articles</a>
          </li>
          <li>
            <a href="/scrape">SCRAPE NEW ARTICLES</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>NPR Edition</p>
  </div>
</div>
 {{{ body }}}

  <div class="modal fade product_view" id="product_view">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>



  <!--
  <script src="./public/assets/js/app.js"></script> -->
</body>
<script type="text/javascript">

  $(document).on("click", ".notes", function () {
    console.log("this is the modal")

  $(".modal-content").empty()
    $(".modal-title").text($(this).data("title"))
     console.log($(this).data("id"))
    $(".addNote").attr("data-id", $(this).data("id"))



    var thisId = $(this).data("id");

    // Now make an ajax call for the Article
    $.ajax({
      method: "GET",
      url: "/articles/" + thisId
    })
      // With that done, add the note information to the page
      .done(function (data) {
       // console.log(data);

            $(".modal-content").append('<div class="modal-header"><a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a><h3 class="modal-title">'+data.title+'</h3></div><div class="modal-body"><div class="row"><div class="col-md-6 product_content"><ul class="myNotes"></ul><h3> Add Notes </h3><div class="row"> <div class="col-md-4 col-sm-12"><textarea id="bodyinput" rows="4" cols="50"></textarea></div></div><div class="space-ten"></div><div class="btn-ground"><button type="button" class="btn btn-primary addNote" data-dismiss="modal" data-id="'+thisId+'">Confirm</button></div></div></div></div>')
         
           // If there's a note in the article
      if (data.note) {
        console.log(data.note.body)
      $(".myNotes").append('<li>'+ data.note.body +'  <a class="btn btn-danger" href="/remove/'+thisId+'">X</a></li><br>')
      }

      });

  })






  // When you click the addNote button
  $(document).on("click", ".addNote", function () {
    // Grab the id associated with the article from the submit button
    var thisId = $(this).attr("data-id");
    var theNote=$("#bodyinput").val()
  if(theNote){
    // Run a POST request to change the note, using what's entered in the inputs
    $.ajax({
      method: "POST",
      url: "/articles/" + thisId,
      data: {
        title: $(".modal-title").text(),
        // Value taken from note textarea
        body: theNote
      }
    })
      // With that done
      .done(function (data) {
        // Log the response
        console.log(data.body);
      });
  }

    // Also, remove the values entered in the input and textarea for note entry
    $("#bodyinput").val("");
  });


</script>

</html>